// Place all the styles related to the States controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.state-alert-danger{
  background: #DF4850 !important;

}
.state-alert-border-danger{
  border-color: #DF4850 !important;
}
.state-alert-warning{
  background: #F5A750 !important;
}

.normal-gly{
  font-size: 25px;
}

.danger-danger{
  color: red;
}
.warning-warning{
  color: yellow;
}

.safe-normal{
  color: green;
}

.finish-true{
  background-color: #999999 !important;
}

@media only screen and (max-width: 600px) {
  .duration_button{
    bottom: 20px;
  }

}

