<div class = "container">
  <h1>Flujo actual</h1>
  <% sub_states = State.state_machines[:bl].states.map &:name %>
  <div class = "row">
    <% sub_states.each do |sub_state| %>

    <%end %>
  </div>
</div>


