<h1>Cambio de estado <%= @state.stage.line.container.number %></h1>
<p> Ha ocurrido cambio de estado en el contenedor : <%= @state.stage.line.container.number %></p>
<p>El contenedor ahora esta en el estado  : <%= @state %></p>
