<div class = "container">
  <div class="row">
    <div class = "col-md-6">
      <%= image_tag "tab-3.png",  :style => "width: 100%;" %>
    </div>
    <div class = "col-md-6">
      <%= image_tag "tab-2.png", :style => "width: 100%;" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <%= image_tag "tab-1.png", :style => "width: 100%;" %>
    </div>
  </div>
</div>